{% extends "frame.html" %}
{% block content %}
  {% if (success) %}
    <div class="container alert alert-success" role="alert" style="display:none">
      <strong>Success!</strong> Relation is labeled
    </div>
  {% endif %}
  <div class="container" style="margin-top:80px">
    <h2 class="text-center"><b>Label candidate match</b></h2>
    <form method='post' style="margin-bottom:50px; margin-top:50px">
      <div class="form-group">
        <label for="relationID"><b>Relation ID</b></label>
        <select class="form-select form-control" name="relationID" id="relationID" size="20" multiple  aria-label="multiple select" required>
          {% for relationship in relationships %}
            <option value={{ relationship['id'] }}>{{ relationship['id']}} &#9964; {{ relationship['from']}} &#10132; {{ relationship['to'] }}</option>
          {% endfor %}
        </select>
        <!-- <input type="number" class="form-control" id="relationID" placeholder="Relation ID" min="0" name="relationID"> -->
      </div>
      <br>
      <div class="form-group">
        <label for="relationID"><b>Candidate match</b></label>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="correct" id="correct1" value="true" required>
          <label class="form-check-label" for="correct1">
            Selected candidate match(es) is/are correct
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="correct" id="correct2" value="false" required>
          <label class="form-check-label" for="correct2">
            Selected candidate match(es) is/are <b>NOT</b> correct
          </label>
        </div>
      </div>
      <br>
      <button type="submit" class="btn btn-primary">Label Match(es)</button>
    </form>
  </div>
  {% if (success) %}
    <script>
      window.setTimeout(function() {
        $(".alert").slideDown(250).delay(2000).fadeTo(250, 0).slideUp(250, function(){
          $(this).remove(); 
        });
      }, 1000);
    </script>
  {% endif %}
{% endblock %}